//Color
$color-38ABA5 : #38ABA5;
$color-3AAFA9: #000000;
$color-262626: #262626;
$color-FFFFFF: #fff;
$color-228F8D: #228f8d;
$color-434343: #434343;
$color-D9D9D9: #d9d9d9;
$color-5CBDB5: #5cbdb5;
$color-FAFAFA: #fafafa;
$color-E1F0ED: #e1f0ed;
$color-8C8C8C: #8c8c8c;
$color-FAAD14: #faad14;
$color-52C41A: #52c41a;
$color-F0F0F0: #f0f0f0;
$color-404040: #404040;
$color-F0F2F5: #f0f2f5;
$color-F5222D: #f5222d;
$color-F5F5F5: #f5f5f5;
$color-98A2B3: #98a2b3;
$color-17252A: #000000;
$color-69707D: #69707d;
$color-98A2B3: #98a2b3;
$color-F5A118: #f5a118;
$color-ABB4C4: #abb4c4;
$color-OOOOOO: #000;
$color-D3DAE6: #d3dae6;
$color-343741: #343741;
$color-d32f2f: #d32f2f;
$color-ED1D31: #ed1d31;
$color-1A1C21: #1a1c21;
$color-F5F7FA: #f5f7fa;
$color-FAFBFD: #fafbfd;
$color-32B760: #32b760;
$color-FBFCFD: #fbfcfd;
$color-E9EDF3: #e9edf3;
$color-selected: #32b760;
$color-5EADA8: #5eada8;
$color-294c60: #000000;
$color-7d7269: #7d7269;
$color-e4e7ec: #e4e7ec;
$color-32B76029: #32b76029;
$color-e0e5ee: #e0e5ee;
$color-294C60: #000000;
$color-ECF9F8: #f3f3f3;
$color-E0E5EE: #e0e5ee;
$color-5EADA8: #5eada8;
$color-E7E9F1: #e7e9f1;
$color-F5A118: #f5a118;
$color-17525A: #000000;
$color-ECF9F8: #f3f3f3;
$color-00B1AA: #000000;
$color-FEF5E7: #fef5e7;
$color-FFC53D: #ffc53d;
$color-F2CD5A: #f2cd5a;
$color-3AAFA933: #3aafa933;
$color-33B760: #33b760;
$color-C6E9E7: #c6e9e7;
$color-ACA0BB: #aca0bb;
$color-c5c5c5: #c5c5c5;
$color-32b760: #32b760;
$color-E4E7EC: #e4e7ec;
$color-0090FF: #0090ff;
$color-F9C53D: #f9c53d;
$color-6A707D: #6a707d;
$color-F6F7FA: #f6f7fa;
$color-03313F: #03313f;
$color-6DCCB1: #6dccb1;
$color-17252A: #000000;
$color-294C60: #000000;
$color-919CAF: #919caf;
$color-00B1AA33: #00b1aa33;
$color-a7acac: #a7acac;
$color-f3f3f3: #f3f3f3;
$color-ECEFF4: #eceff4;
$color-13229533: #13229533;
$color-008f89: #000000;
$color-3f3f40: #3f3f40;
$color-00b1aa3b: #00b1aa3b;
$color-06498c: #06498c;
$color-edf4ff: #edf4ff;
$color-BD271E: #bd271e;
$color-FFF7E5: #fff7e5;
$color-b37feb: #b37feb;
$color-F5F7FA: #f5f7fa;
$color-052126: #052126;
$color-A36B10: #a36b10;
$color-294C60: #000000;
$color-142F39: #142f39;
$color-6B707C: #6b707c;
$color-813DEB: #813deb;
$color-0090FF: #0090ff;
$color-ffffff: #ffffff;
$color-e0e0e0: #e0e0e0;
$color-e0e0e0: #e0e0e0;
$color-000000: #000000;
$color-525252: #525252;
$color-3c3c3c: #3c3c3c;
$color-ba3a3a: #ba3a3a;
$color-0000001a: #0000001a;
$color-737373: #737373;
//fontStyle
$font-style-normal: normal;

//fontWeight
$font-weight-100: 100;
$font-weight-200: 200;
$font-weight-300: 300;
$font-weight-400: 400;
$font-weight-500: 500;
$font-weight-590: 590;
$font-weight-600: 600;
$font-weight-700: 700;
$font-weight-750: 750;
$font-weight-800: 800;
$font-weight-900: 900;

//fontSize
$font-size-12: 12px;
$font-size-13: 13px;
$font-size-14: 14px;
$font-size-16: 16px;
$font-size-18: 18px;
$font-size-20: 20px;
$font-size-22: 22px;
$font-size-24: 24px;
$font-size-27: 27px;
$font-size-30: 30px;
$font-size-32: 32px;
$font-size-34: 34px;
$font-size-36: 36px;
$font-size-42: 42px;
$font-size-48: 48px;
$font-size-120: 120px;
$font-size-200: 200px;

//lineHeight
$line-height-18: 18px;
$line-height-20: 20px;
$line-height-21: 21px;
$line-height-22: 22px;
$line-height-24: 24px;
$line-height-28: 28px;
$line-height-32: 32px;
$line-height-37: 37px;
$line-height-40: 40px;
$line-height-44: 44px;
$line-height-48: 48px;
$line-height-52: 52px;
$line-height-64: 64px;
$line-height-120: 120px;
$line-height-222: 222px;
$side-navbar-width: 284px;
$header-height: 60px;
$progress-bar-height-small-screen: 100px;

//breakpoints
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

//mixins
@mixin mediaQuery($width) {
  @media only screen and (max-width: $width) {
    @content;
  }
}

@mixin layoutWithFlex($align, $justify, $wrap: null, $direction: null) {
  align-items: $align;
  display: flex;
  justify-content: $justify;

  @if $wrap {
    flex-wrap: $wrap;
  }

  @if $direction {
    flex-direction: $direction;
  }
}

@mixin layoutWithGrid($column: auto-fit, $min: 150px, $max: 2fr, $gap: null) {
  display: grid;
  grid-template-columns: repeat($column, minmax($min, $max));

  @if $gap {
    gap: gap;
  }
}
