@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.link:hover{
    color: teal;
}
.active{
    /* background-color: slateblue; */
    background-color: teal;
    color: white;
}
.active:hover{
    background-color: teal;
    color: white;
}
/* .h{
    color: slategray;
} */